.App {
  text-align: center;
  flex-direction: row;
  align-content: center;
  background-color: white;
  width: 75vw;
  border: 1px solid black;
  justify-content: center;
}

.App-logo {
  min-width:200px;
  width:12vw;
  align-self: flex-start;
}