.App {
  text-align: center;
  flex-direction: row;
  align-content: center;
  background-color: white;
  width: 50vw;
  min-height: 90vh;
  border: 1px solid black;
  justify-content: center;
  padding-top: 1ex;
}

main {
  padding: 0;
  margin: 0;
}
.mainColumn {
  min-height:90vh;
  background-color: white;
  padding-top: 8ex;
}

.App-categories {
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  padding: 0;
}
.App-categories a {
  list-style-type: none;
  color: black;
  text-decoration: none;
  height: 100%;
  width: 11em;
  border-bottom: 1px solid black;
}
.Activecategory a:hover {
  background: lightgrey;
}
.App-categories .Activecategory {
  background-color: grey;
}