.App-header {
    background-color: white; 
    width: 75vw;
    max-height: 6ex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    border: 1px solid black;

    font-size: large;

  }



.Searchbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Searchbar * {
  height:6ex;
  min-width: 50vw;
}
.Searchbar-input {
  border-radius: 3ex;
  border: 1px solid black;
  padding: 0 0 0 1em;
}


.Login{
  
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

  .Cart-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .headerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: larger;
  }
  .Spacer {
    width:1em;
  }