.App-header {
    background-color: white; 
    width: 75vw;
    max-height: 3ex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

  }

  

.Searchbar{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}


.Login{
  
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

  .Cart-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .Searchbar {
    width:50%;
  }
  .Searchbar-input {
    min-width: 75%;
  }