.App-productlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 1em;
}
.App-product {
    border: 1px solid black;
    padding: 1ex;
    margin-bottom: 1ex;
    width: 21ex;
    height: 42ex;
    overflow:hidden;
    text-overflow: ellipsis;
}
.App-product * {
    margin: 0;
}
.App-product a {
    color: black;
    text-decoration: none;
}
.App-productimage {
    max-height: 50%;

}
.App-productdescription {
    text-align: justify;
}